<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
	<a class="navbar-brand" href="#"><h3><b>Zwenex Bookshop</b></h3></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	    <% if current_admin %>		
		  <li class="nav-item">	      	
	      	<b><a href="#" class="nav-link" style="text-transform: uppercase;">Welcome '<%= current_admin.name %>'</a></b>
	      </li>
	      <li class="nav-item ">
	        <b><%= link_to 'Log Out',admin_logout_path , class:"nav-link" %> </b>
	      </li>
	    <% end %>
	    </ul>
	  </div>
	</div>
</nav>
<div class="container">
	<p id='notice'><%= notice %></p>

	<br>
	<h3><b>BOOK LISTS</b></h3>
	<br>
	<p align="right"><a href="/book/r_user" class="btn btn-ouline-info">Reserved user list</a></p>
	<div style="height: 5px;"></div>
	<table class="table">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Price</th>
			<th>Published Year</th>
			<th>Category</th>
			<th>Other</th>
		</tr>
		<% @book.each do |b| %>
		<tr>
			<td><%= b.title %></td>
			<td><%= b.author %></td>
			<td><%= b.price %></td>
			<td><%= b.p_year %></td>
			<td><%= b.category %></td>
			<td><a href="/book/edit/<%= b.id %>" class="btn btn-info">Edit</a>
				<a href="/book/<%= b.id %>"  data-method=delete data-confirm="Are you sure?" class="btn btn-danger">Del</a></td>
		</tr>
		<% end %>
	</table>
	<br>
	<a href="/book/add" class="btn btn-primary">Add New Book</a>
</div>