<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
	<a class="navbar-brand" href="#"><h3><b>Zwenex Bookshop</b></h3></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	    <% if current_admin %>		
		  <li class="nav-item">	      	
	      	<b><a href="#" class="nav-link" style="text-transform: uppercase;">Welcome '<%= current_admin.name %>'</a></b>
	      </li>
	      <li class="nav-item ">
	        <b><%= link_to 'Log Out',admin_logout_path , class:"nav-link" %> </b>
	      </li>
	    <% end %>
	    </ul>
	  </div>
	</div>
</nav>
<br><br>
<div class="container">
	<h3><b>ADD NEW BOOK</b></h3>
	<br>
	<form action="/book/create" method="get">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	  <div class="form-group row">
	    <label for="staticEmail" class="col-sm-2 col-form-label">Title :</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="staticEmail" name="book[title]" required>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="author" class="col-sm-2 col-form-label">Author :</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="author" name="book[author]" required>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="price" class="col-sm-2 col-form-label">Price :</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="price" name="book[price]" required>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="p_year" class="col-sm-2 col-form-label">Published Year :</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="p_year" name="book[p_year]" required>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="category" class="col-sm-2 col-form-label">Category :</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="category" name="book[category]" required>
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="img" class="col-sm-2 col-form-label">Image :</label>
	    <div class="col-sm-10">
	      <input type="file" id="img" name="book[img]" required>
	    </div>
	  </div>
	  <input type="hidden" name="book[r_status]" value="no" >
	  <br>
  	  <button type="submit" class="btn btn-primary" style="width: 100%;padding: 10px 0;">Add Book</button>
	  
	</form>
	<br>
	<%= link_to 'Back', admin_login_url %>
</div>