<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
	<a class="navbar-brand" href="#"><h3><b>Zwenex Bookshop</b></h3></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	    <% if current_admin %>		
		  <li class="nav-item">	      	
	      	<b><a href="#" class="nav-link" style="text-transform: uppercase;">Welcome '<%= current_admin.name %>'</a></b>
	      </li>
	      <li class="nav-item ">
	        <b><%= link_to 'Log Out',admin_logout_path , class:"nav-link" %> </b>
	      </li>
	    <% end %>
	    </ul>
	  </div>
	</div>
</nav>
<br>
<br>
<div class="container">
	<h3><b>Reserved User Lists</b></h3>
	<table class="table">
		<tr>
			<th>Username</th>
			<th>Book Title</th>
			<th>Others</th>
		</tr>
		<% @user.each do |u|%>
		<tr>
			<td><%= u.r_user %></td>
			<td><%= u.title %></td>
			<td><a href="/r_cancel/<%= u.id %>" class="btn btn-danger">Cancel</a></td>
		</tr>
		<% end %>
	</table>
	<br>
	<%= link_to "Back",admin_login_path%>
</div>