
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
	<a class="navbar-brand" href="#"><h3><b>Zwenex Bookshop</b></h3></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	    <% if current_user %>		
		  <li class="nav-item">	      	
	      	<b><a href="#" class="nav-link" style="text-transform: uppercase;">Welcome '<%= current_user.name %>'</a></b>
	      </li>
	      <li class="nav-item ">
	        <b><%= link_to 'Log Out',logout_path , class:"nav-link" %> </b>
	      </li>
		<% else %>
	      <li class="nav-item">	      	
	      	<b><%= link_to 'Log In',login_path, class:"nav-link" %> </b>
	      </li>
	      <li class="nav-item ">
	        <b><%= link_to 'Sign up',signup_path, class:"nav-link" %> </b>
	      </li>
	    <% end %>
	    </ul>
	  </div>
	</div>
</nav>
<br><br>
<div class="container">
<p id="notice"><%= notice %></p>

<h4 style="font-weight: bold;text-transform: uppercase;">Book list</h4>

<form method="get" action="/search">
      <div class="row">
      	<div class="col-md-11">
      		<input class="form-control mr-sm-2" type="search" placeholder="Search Book Category" aria-label="Search" name="search"> 
      	</div>
      	<div class="col-md-1">
      		 <button class="btn btn-outline-danger" type="submit">Search</button>
      	</div>
      </div>
</form>
<br>
<% if current_user%>
	<a href="/r_list" class="btn btn-outline-primary">Reserved list</a></p>
<% end%>
<p>
<br>
<div class="row">

	<% @books.each do |b| %>


	<div class="col-md-3">
		<a href="#">
			<div class="card">
			  <img class="card-img-top" src="/assets/<%= b.img %>" alt="Card image cap">
			  <div class="card-body">
			    <h6 class="card-title" style="color: #000;">Title : <b><%= b.title %></b></h6>	    
			    <p class="card-title" style="color: #000;">Category : <b><%= b.category %></b></p> 
			    <p class="card-title" style="color: #000;">Price : <b>$ <%= b.price %></b></p>	    
			  </div>
			</div>
		</a>
		<div style="height: 10px;"></div>

		<% if current_user %>
			<% if b.r_status == "no" %>
				<a href="/reserve/<%= b.id %>"><button class="btn btn-xs btn-info" style="width: 100%;">Reserve</button></a>
			<% elsif b.r_status == "yes" && b.r_user == current_user.name %>
				<a href="/cancel/<%= b.id %>"><button class="btn btn-xs btn-danger" style="width: 100%;">Cancel</button></a>			<% else %>
			<button class="btn btn-xs btn-default" disabled  style="width: 100%;"> Reserved</button> 
			<% end %>
		<% end %>

			<% if current_user%>
			<button class="btn btn-xs btn-default" style="width: 100%;display:none;">Please login for reserve!</button> 
			<% else %>
			<button class="btn btn-xs btn-default" disabled  style="width: 100%;">Please login for reserve!</button> 
			
			<% end%>
			<div style="height: 25px;"></div>
	</div>

	<% end %>
</div>
</div>
