<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
	<a class="navbar-brand" href="#"><h3><b>Zwenex Bookshop</b></h3></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	    <% if current_user %>		
		  <li class="nav-item">	      	
	      	<b><a href="#" class="nav-link" style="text-transform: uppercase;">Welcome '<%= current_user.name %>'</a></b>
	      </li>
	      <li class="nav-item ">
	        <b><%= link_to 'Log Out',logout_path , class:"nav-link" %> </b>
	      </li>
		<% else %>
	      <li class="nav-item">	      	
	      	<b><%= link_to 'Log In',login_path, class:"nav-link" %> </b>
	      </li>
	      <li class="nav-item ">
	        <b><%= link_to 'Sign up',signup_path, class:"nav-link" %> </b>
	      </li>
	    <% end %>
	    </ul>
	  </div>
	</div>
</nav>
<br><br>
<div class="container">
	<h3>MY RESERVE LIST</h3>
	<br>
	<table class="table">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Price</th>
			<th>Published Year</th>
			<th>Category</th>
			<th>OTHER</th>
		</tr>
		<% @list.each do |l| %>
		<tr>
			<td><%= l.title %></td>
			<td><%= l.author %></td>
			<td><%= l.price %></td>
			<td><%= l.p_year %></td>
			<td><%= l.category %></td>
			<td><a href="/cancel/<%= l.id %>" class="btn btn-danger">Cancel</a></td>
		</tr>
		<% end %>
	</table>
	<br>
	<%= link_to "Back", root_path %>
</div>