// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card img{
	max-height:300px !important;
}
.card{
	box-shadow:2px 2px 10px rgba(0,0,0,0.5);
}
.card:hover{
	box-shadow:none; 
}
.btn {
	box-shadow:2px 2px 10px rgba(0,0,0,0.5);
}